@import '../theme';

.about {
  background: linear-gradient(to left, $color-highlight, #5d6ff9);
  color: $color-white;
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  min-height: 100vh; 

  .container-content {
    h1 {
      font-size: 2.5rem; 

      // Adjustments for tablet screens
      @media (max-width: 768px) {
        font-size: 2rem;
      }

      // Adjustments for mobile screens
      @media (max-width: 480px) {
        font-size: 1.5rem;
      }
    }

    p {
      width: 80%;
      margin: 0 auto;
      font-size: 1.25rem; 
      line-height: normal;
    }
  }
}
