@import "theme";

.app {
  font-family: $font-system;

  .relative {
    position: relative;
  }

  .text-color {
    color: $color-text;
  }

  .text-color-primary {
    color: $color-primary;
  }

  .text-color-highlight {
    color: $color-highlight;
  }

  .font-bold {
    font-weight: bold;
  }

  .space1 {
    width: $space1;
    height: $space1;
  }
  .space2 {
    width: $space2;
    height: $space2;
  }
  .space3 {
    width: $space3;
    height: $space3;
  }
  .space4 {
    width: $space4;
    height: $space4;
  }

  .container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto; 
    padding: 0 20px; 

    @media (max-width: $breakpoint-phone) {
      padding: 0 10px; 
    }
  }

  .button-primary {
    padding: 16px 30px;
    background-color: $color-primary; 
    color: $color-white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 1.5rem;

    &:hover {
      background-color: darken(
        $color-highlight,
        10%
      ); 
    }
  }

  .divider {
    width: 200px;
    height: 2px; 
    background-color: $color-white;
    border-radius: 4px; 
    margin: 0 auto; 
  }

  footer {
    padding: 50px 0;
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
  }
}
